<%include partials/header%>
<%- include('partials/navbar', {active: "settings"}); %>
<html>

<body>
    <button id="edit_profile_button" type="button">Edit Profile</button>
    <div style="display:none" id="edit_profile_form_container">
        <form id="edit_profile_form">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<%=user.name%>">
                </li>
                <li>
                    <label for="Username">Username</label>
                    <input type="text" name="username" value="<%=user.username%>">
                </li>
                <li>
                    <label for="location">Location</label>
                    <input type="text" name="location" value="<%=user.user_profile[0].location%>">
                </li>
                <li>
                    <label for="bio">Bio</label>
                    <textarea rows="4" cols="30" name="bio"><%user.user_profile[0].bio%></textarea>
                </li>
                <li>
                    <label for="profile_pic">Profile Pic</label>
                    <input id="upload_profile_pic" type="file" onchange="uploadProfileImage()">
                </li>
            </ul>
            <button id="save_profile_button" type="button">Save</button>
            <button id="cancel_edit_profile" type="button">Cancel</button>
        </form>
    </div>
    <div id="user_profile_div">
        <div class="profile_info" id="profile_picture_div">
            <h2>Name:<%=user.name%></h2>
            <h4>Location:<%=user.user_profile[0].location%></h4>
            <img src="http://localhost:3000/user_profile_images/<%=user.user_profile[0].profile_pic%>" width="80" height="80">
        </div>
        <div class="profile_info" id="about_me">
            <h3>Bio:</h3>
            <p><%=user.user_profile[0].bio%></p>
        </div>
    </div>
</body>
<script>
    $("#save_profile_button").on("click", function () {
        $.ajax({
            method: "POST",
            url: "/user_profile/edit",
            data: $("#edit_profile_form").serialize(),
            success: function () {
                $("#edit_profile_form_container").hide();
            }
        })
    })
    $("#edit_profile_button").on("click", function () {
        $("#edit_profile_form_container").show();
    })
    $("#cancel_edit_profile").on("click", function () {
        $("#edit_profile_form_container").hide();
    });
    function uploadProfileImage() {
        var image_to_upload = $("#upload_profile_pic")[0].files[0];
        console.log("image_to_upload", image_to_upload);
        var reader = new FileReader();
        reader.readAsDataURL(image_to_upload);
        reader.onload = function () {
            console.log("result", reader.result);
            var image_data = { "image_data": reader.result.split(",")[1], "image_type": image_to_upload.type.split("/")[1] };
            $.ajax({
                method: "POST",
                url: "profile_pic/upload",
                data: JSON.stringify(image_data),
                contentType: "application/json",
                success: function () {
                    $(".profile_info img").remove();
                    $("#profile_picture_div").append("<img src=http://localhost:3000/user_profile_images/" + updated_profile_pic + ">");
                }
            })
        }
    }
</script>

</html>